[Unit]
Description=ethminer
After=network.target

[Service]
Type=simple
User={{ ethminer_user }}
WorkingDirectory=/home/{{ ethminer_user }}
ExecStart={{ ethminer_bin }} {{ ethminer_cli_switch }} {% if ethminer_report_hashrate %}-RH {% endif %}--farm-recheck 200 -S {{ ethminer_stratum }} -FS {{ ethminer_failover_stratum }} -O {{ ethminer_credentials }}
Restart=on-abort

[Install]
WantedBy=multi-user.target
